* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	background:url(https://www.irsmedic.com/stealthseminar/pics/bg.png) top repeat-x;
}

h1 {
	font-size:36px;
	font-weight:bold;
	text-align:center;
	padding:40px 0;
}

h2 {
	font-size:24px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	padding:10px 0 30px;
	background:url(https://www.irsmedic.com/stealthseminar/pics/h2.png) top repeat-x;
	text-shadow:2px 2px 2px #000;
	text-transform:uppercase;
}

p {
	margin:15px 0 0 0;
}

p:first-child {
	margin:0;
}

label {
	font-weight:bold;
	font-size:16px;
}

#wrap {
	margin:auto;
	width:1000px;
}

#header {
	height:70px;
	line-height:70px;
	font-size:20px;
	color:#fff;
	font-style:italic;
}

#main {
	margin:5px 0 0 0;
}

#video {
	clear:left;
	float:left;
	display:inline;
	width:611px;
	height:344px;
	padding:30px;
	border:1px solid #ccc;
	overflow:hidden;
}

#shadow {
	float:left;
	clear:left;
	margin:-50px 0 0 -55px;
	width:800px;
	height:100px;
	background:url(https://www.irsmedic.com/stealthseminar/pics/video.png);
}

#facebook {
	text-align:center;
	margin:0 0 20px 0;
}

#register {
	float:right;
	display:inline;
	width:295px;
	border:2px solid #ccc;
	background:url(https://www.irsmedic.com/stealthseminar/pics/register.png) bottom repeat-x #fff;
}

#form {
	padding:20px 15px;
}

#footer {
	padding:140px 0 40px 0;
	background:url(https://www.irsmedic.com/stealthseminar/pics/footer.png) top no-repeat;
	text-align:center;
	color:#666;
}

.clear {
	clear:both;
	height:0;
	overflow:hidden;
}

.underline {
	text-decoration:underline;
}

.strike {
	color:#ff0000;
	text-decoration:line-through;
}

.input {
	border:1px solid #aaccff;
	width:253px;
	padding:5px 5px;
	font-size:16px;
	margin:5px 0 0 0;
}

.submit {
	width:260px;
	height:60px;
	background:url(https://www.irsmedic.com/stealthseminar/pics/reserve.png);
	cursor:pointer;
	margin:10px 0;
}
